body {
    padding-bottom: 100px;
    padding-top: 50px;
}
 
section {
    height: 80%;
    width: 100%;
    padding: 50px;
}

button {
    border-radius: 10px;
    background: #000000;
    color: #FFFFFF;
    padding: 5px;
}

.navbar-brand a {
    color: #FFFFFF !important;
}